<!DOCTYPE html>
<html lang="en">    
<head>        
    <meta charset="UTF-8">        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <title>HTML Elements Showcase</title>        
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">        
    <script src="{{ url_for('static', filename = 'script.js') }}"></script> 
</html>

<body>
    <div class="container">
        <h1>Local display Time</h1>
        <button type = "button" id = "get-time">Click me!</button>
        <div id = "time" style = "display: none;"></div>
    </div>
</body>

</html>


